@import 'includes/buttons';
@import 'includes/side-bar';
@import 'includes/inputs';
@import 'includes/About-us';
@import 'includes/404';


body {
  font-family: 'Poppins', sans-serif;
  color: #2c3e50;
  height: auto;
}

.wrapper {
  min-height: calc(100vh - 481px);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c3e50;

  &:hover {
    text-decoration: none;
  }
}

.container {
  max-width: 1170px;
}

.row {
  width: 1170px;
}

.header {
  height: 40px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 12px;

  .contacts {
    padding: 11px 0 13px 0;

    a {
      margin-left: 16px;
      letter-spacing: 0.5px;

      &:hover {
        color: #4c6d8e;
      }

      &:last-child {
        letter-spacing: 0;
        margin-left: 20px;
      }

      i {
        display: inline-block;
        transform: scaleX(-1);
        color: #1abc9c;
        margin-right: 8px;
      }
    }
  }

  .social-contacts {
    a {
      margin: 11px 16px 15px 0;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: #1abc9c;
      }
    }
  }

}

header {
  height: 396px;
  background: url("../img/background.jpg") no-repeat bottom;

  .info {
    padding: 34px 0 40px 0;
  }

  .row {
    .logo {
      padding: 0;

      a {
        display: block;
        width: 128px;
        height: 39px;
        background: url("../img/logo.png") no-repeat;
      }
    }

    .menu {
      padding: 0;
      margin-top: 5px;

      a {
        font-size: 16px;
        font-weight: bold;

        &:hover {
          color: #1abc9c;
        }
      }

      .menu-items {
        a {
          padding: 8px 0;
          margin-left: 47px;

          &:first-child {
            margin-left: 0;
          }
        }
      }

      .buttons {
        .btn-post-job {
          margin: 0 17px 0 58px;

          i {
            margin-right: 7px;
          }
        }

        .btn-login {
          letter-spacing: 0;
          padding: 0;
          margin-right: 4px;
        }
      }
    }
  }
}

.searching {
  margin-top: 86px;
  margin-left: 0;
  width: 78%;

  .input-left {
    width: 37%;

    input {
      height: 45px;
      padding-left: 40px;
      border-radius: 5px !important;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .icon-input {
    position: absolute;
    top: 12px;
    left: 16px;
    z-index: 4;
    font-size: 18px;
    color: #2c3e50;
  }

  .input-right {
    width: 24.6%;
    margin: 0 10px;

    input {
      height: 45px;
      padding-left: 40px;
      font-size: 14px;
      border-radius: 5px !important;
      font-weight: 500;
    }

    .drop-icon {
      position: absolute;
      top: 0;
      right: 0;
      border: 0;
      padding: 11px;
      height: 45px;
    }
  }

  .search-btn {
    width: 124px;
    height: 45px !important;
    line-height: 45px !important;
    border-radius: 5px;
  }

}

.content-inner-2 {
  margin-top: 80px;

  .sizing {
    font-size: 60px;
    color: #fff;
  }
}

.home-jobs-listing {
  padding: 0;
  margin-top: 37px;
  letter-spacing: 0.3px;

  a {
    color: #fff;
    font-size: 16px;

  }
}

section {
  background-color: #f6f7f9;
  padding-bottom: 69px;

  nav {
    width: 350px;
    margin-top: 97px;
    margin-bottom: 75px;
    background-color: #fff;

    .your-selected {
      padding-top: 37px;
    }

    .categories {
      .input-group {
        margin-top: 33px;

        input[type="text"] {

          &, textarea {
            padding: 21px 30px 21px 9px;
          }
        }

        i {
          display: inline-block;
          position: absolute;
          top: 14px;
          right: 10px;
          transform: scaleX(-1);
          z-index: 3;
        }
      }
    }
  }
  .salaries {
    letter-spacing: 1px;

    .item {
      height: 48px;
    }

    .checkmark {
      border-radius: 50%;
    }
  }
}

.content {
  margin-top: 97px;
  margin-left: 36px;
  width: 784px;

  .row {
    margin: 0;
  }

  .content-wrapper {

    .features {
      background-color: #fff;
      margin-bottom: 30px;
      padding: 13px 0;

      .btn-features {
        margin-left: 16px;

        .mini-btn-features {
          display: inline-block;
          height: 26px;
          width: 26px;
          border: 1px solid #dbdbdb;
          color: #a8adb3;
          margin-right: 7px;
          padding-top: 1px;

          &:hover {
            color: #1abc9c;
            border-color: #1abc9c;
          }
        }

        .email-btn-features {
          padding-top: 3px;
          top: -3px;
          display: inline-block;
          width: 246px;
          height: 30px;
          border: 1px solid #dbdbdb;
          font-size: 14px;
          color: #2c3e50;
          margin-left: 20px;

          span {
            letter-spacing: 0.5px;
            display: inline-block;
            width: 185px;
            margin-left: 7px;

          }

          &:hover i {
            color: #1abc9c;
          }

          &:hover {
            border-color: #1abc9c;
          }
        }
      }
    }

    .jobs-amount {
      color: #2c3e50;
      font-size: 14px;
      letter-spacing: 0.5px;
      padding: 4px 21px;
    }

    .vacancy {
      background-color: #fff;
      margin-top: 28px;
      padding: 21px 0 26px;

      .photo {
        margin: 11px 28px 0 30px;

        .star {
          position: absolute;
          top: -9px;
          left: -31px;
          width: 32px;
          height: 25px;
          background-color: #ffcd05;
          border-radius: 2px;

          &:hover svg {
            fill: #1abc9c;
          }

          svg {
            margin-left: 8px;
            fill: #fff;
          }

          &:after {
            display: block;
            content: ' ';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 11.5px 0 11.5px 11px;
            border-color: transparent transparent transparent #ffcd05;
            position: absolute;
            top: 1px;
            left: 32px;
          }
        }
      }
    }

    .information {
      width: 457px;
      font-size: 13px;

      a {
        display: inline-block;
        color: #2c3e50;
        padding-top: 7px;

        &:hover {
          color: #1abc9c;
        }

        i {
          padding-right: 14px;
        }
      }

      .job-style-information {
        display: block;
        color: #ff2626;
      }

      .title-information {
        font-size: 16px;
        padding-top: 0;
        letter-spacing: 0.6px;
      }

      .when-information {
        font-size: 11px;
        line-height: 2;
      }

      .two-links {
        padding-top: 8px;
        a {

          &:first-child {
            padding-right: 18px;
          }

          .fa-flag {
            color: #3498db;
          }

          .fa-map-marker-alt {
            color: #e74c3c;
          }
        }
      }

      .dollar {
        padding-left: 28px;
        letter-spacing: 1px;;

        &:before {
          content: ' ';
          display: block;
          width: 16px;
          height: 11px;
          background: url("../img/dollar.png");
          position: absolute;
          top: 10px;
          left: 0;
        }

      }

      .tags {
        a {
          margin-right: 5px;
        }

        .fa-tag {
          display: inline-block;
          transform: scaleX(-1);
          color: #ff9333;
          padding-right: 0;
          padding-left: 10px;
        }
      }
    }
  }

  .interactive {
    width: 155px;

    .interactive-inner {
      font-size: 13px;

      a {
        display: inline-block;
        border: 1px solid;
        border-color: transparent transparent transparent #e9ebed;
        color: #2c3e50;
        width: 33px;

        &:first-child {
          border-color: transparent;
        }

        &:hover {
          color: #1abc9c;
        }
      }

      .fa-wifi {
        transform: rotate(45deg);
        padding-left: 5px;
        margin-right: 8px;
      }
    }
  }
}

.number-of-pages {
  margin-top: 51px;
  padding: 14px 0;
  margin-left: 13px;

  li {
    margin-right: 10px;
    display: inline-block;
    &:last-child {
      margin-right: 0;

    }

    a {
      color: #42505f;
      background-color: #fff;
      border: 1px solid #ebebeb;
      display: block;

      padding: 2px 11.7px;
      height: 30px;

      &:hover {
        background-color: #1abc9c;
        border-color: #1abc9c;
        color: #fff;

      }
    }
  }

}

footer {
  font-size: 14px;
  color: #fff;
  min-height: 481px;

  a {
    color: #fff;

    &:hover {
      color: #1abc9c;
    }
  }

  .footer-wrapper-up {
    background-color: #272727;

    a {
      display: block;
      margin-top: 19px;
      margin-left: -3px;

      &:first-child {
        margin-top: 0;
      }
    }

    h3 {
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 26px;
    }

    .footer-up {
      padding: 75px 0;
      height: 420px;
      font-family: 'Work Sans', sans-serif;

      .col-4 {
        padding: 0 10px 0 0;

      }

      .left-column {

        .logo {
          margin-top: 5px;
          margin-bottom: 24px;
          padding: 0;

          a {
            display: block;
            width: 160px;
            height: 46px;
            background: url("../img/logo-footer.png") no-repeat;
          }
        }

        p {

          padding-right: 28px;
          letter-spacing: 1.1px;
          line-height: 26px;
        }

        h3 {
          font-family: 'Poppins', sans-serif;
          margin: 32px 0 20px;
          letter-spacing: 0.5px;
        }

        .input-group {
          margin-top: 15px;
          width: 268px;
          height: 35px;

          input[type="text"] {
            height: 35px;
            font-size: 12px;
            font-family: 'Poppins', sans-serif;
          }

          .button {
            width: 76px;
            height: 35px !important;
            font-size: 12px !important;
            line-height: 2 !important;
            font-family: 'Poppins', sans-serif;
            text-transform: uppercase;
          }
        }
      }
    }

    .right-column {
      padding: 0;

      &:nth-child(2) {
        margin-left: 38px;
      }

      .connect-us {
        margin: 25px 0 2px;
      }

      .round-button {
        margin-right: 9px;

        &:last-child {
          margin-right: 0;
        }

        .footer-i-icon {
          padding-top: 14px;
        }
      }
    }
  }

  .footer-wrapper-down {
    background: #3a3a3a;
    padding: 20px 0;

    .col-2 {
      padding: 0;
    }

    .text-right {
      padding-right: 7px;
    }

    .copyright {
      font-size: 13px;
      padding: 0;
      letter-spacing: 0.4px;
    }
    a {

      &:hover span {
        background: #1abc9c;
      }

      span {
        display: inline-block;
        width: 15px;
        height: 14px;
        background: #fff;
        border-radius: 50%;
        margin: -3px 7px;

        i {
          color: #3a3a3a;
          position: absolute;
          left: 3px;
        }
      }

    }
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0 23px;
  }
}


