.input-default {
  color: #2c3e50;

  input[type="text"] {
    border-radius: 0;
    color: #2c3e50;

    &, textarea {
      outline: none;
      box-shadow: none;
      border: 1px solid #dbdbdb;
      font-size: 14px;
      letter-spacing: -0.2px
    }

    &::placeholder {
      color: #2c3e50;
    }
  }
}